/* import './css/bootstrap.min.css'; */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.table td, .table th {
  padding-top: .1rem;
  padding-right: .3rem;
  padding-bottom: .1rem;
  padding-left: .3rem;
}

.progress {
  height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 2px;
}
.progress-bar {
  text-align: left;
  padding-left: 3px;
}
.bilan-title {
  font-family: 'NotoSansCham';
  font-weight: black;
  font-size: 1.5rem;
}
.ikasSarak-title {
  font-family: 'AkharTakai';
  font-weight: black;
  font-size: 2rem;
}

@font-face {
  font-family: 'NotoSansCham';
  src: url('fonts/NotoSansCham-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AkharTakai';
  src: url('fonts/Akhar-Takai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}